:root{
  --color-white:#f0f0f0;
  --color-red: #be3144;
  --color-blue: #45567d;
  --color-gray: #303841;
}
/* Base reset */
* {
  margin: 0;
  padding: 0;
}

/* box-sizing and font sizing */
*,
*::before,
*::after {
  box-sizing: inherit;
}
.font{
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
}

nav {
 display: flex;
  justify-content: flex-end;
  position: fixed;
  top: 0;
    left: 0;
  width: 100%;
  background: var(--color-red);
  z-index: 1;

  
}
.nav-link{
  display: flex;
  font-weight: 500;
}
#navbar ul {
 display: flex;
  
  list-style: none;
  
  
}
#navbar li {
  padding: 10px;
}
#navbar a{
  text-decoration: none;
  color: white;
  font-size: 20px;
    
}
.welcome-section{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  background-color: #000;
  background-image: linear-gradient(62deg, #3a3d40 0%, #181719 100%);
  
  font-size: 30px;
  color: var(--color-white);
   
}
.subtitle {
  color: var(--color-red);
  font-style: italic;
}

#projects {
  
  background-color: var(--color-blue);
  font-size: 30px;
  color: var(--color-white);
  text-align: center;
  padding: 60px;
}
.project-title {
   text-decoration-line: underline;
    text-underline-offset: 8px ;
}
.project-tile{
  display: grid;
    grid-template-columns: 400px 400px;
    grid-template-rows: 1fr;
    grid-gap: 60px;
    justify-content: center;
    align-items: center;
    width: auto;
    margin-top: 40px;
  
}
.img-project {
  
  width: 100%;
  object-fit: cover;
  border-radius: 15px;
}
.link {
  background-color: var(--color-gray);
  color: var(--color-white);
  text-decoration: none;
  

}
.icon {
  color: var(--color-gray);
}

.link-word:hover .icon {
  
  color: red;

  
}
#contact {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 40vh;
  color: var(--color-white);
  background-color: var(--color-gray);
  padding-bottom: 0;

}

#contact-subtitle{
  text-decoration-line: underline;
   font-size: 50px;
  font-weight: 700;
  margin-top: -1em;
  
}
.contact-link{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 3.5em;
  margin-bottom: -3.6em;

}
.btn {
  margin: 1.4em;
  color: var(--color-white);
  text-decoration: none;
  
}
#footer {
   background-color: var(--color-gray);
  margin-bottom: 0;
  color: var(--color-white);
}
hr {
  border: 3px solid var(--color-red);
}
@media (max-width: 730px){
  .project-tile{
    grid-template-columns: 200px;
    grid-template-rows: none;
  }
}

